<header id="header">
    <a class="logo" href="/">Portfolio</a>
    <nav>
        <a href="#menu">Menu</a>
    </nav>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a href="/">홈 (Home)</a></li>
        <li><a href="#aboutMe">소개 (About Me)</a></li>
        <li><a href="#experience">경험 (Experience)</a></li>
        <li><a href="#skill">기술 (Skill)</a></li>
        <li><a href="#knowledge">지식 (Knowledge)</a></li>
        <li><a href="#prize">입상 경력 (Prize)</a></li>
        <li><a href="#language">프로그래밍 언어 (Language)</a></li>
        <li><a href="#ranking">랭킹 (Ranking)</a></li>
    </ul>
</nav>

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h3>안녕하세요</h3>
        <h1><strong>AI 개발자</strong></h1>
        <h2><strong>임동욱</strong>입니다</h2>
        <p>
            <a href="https://github.com/noelbird/">GITHUB</a> /
            <a href="https://d33p.tistory.com/">BLOG</a> /
            EMAIL - lduldu00228@gmail.com <br><br>
            <button>HIRE ME</button>
            <hr>
        </p>
    </div>
    <!-- <img src="static/img/main.png" alt=""> -->
    <!-- <video autoplay loop muted playsinline src="static/img/banner.mp4"></video> -->
</section>
