<header class="special">
    <h1><strong>경험 및 포트폴리오</strong></h1>

    <div class="highlights">
        <section>
            <div class="content">
                <header>
                    <a href="#" class="icon fa-vcard-o"><span class="label">Icon</span></a>
                    <h3>택시 데이터 분석 툴 개발(2017. 1., 서울연구원)</h3>
                </header>
                <p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem
                    non mi integer non faucibus.</p>
            </div>
        </section>
        <section>
            <div class="content">
                <header>
                    <a href="#" class="icon fa-files-o"><span class="label">Icon</span></a>
                    <h3>크롤러 개발</h3>
                </header>
                <p></p>
            </div>
        </section>
        <section>
            <div class="content">
                <header>
                    <a href="#" class="icon fa-floppy-o"><span class="label">Icon</span></a>
                    <h3></h3>
                </header>
                <p></p>
            </div>
        </section>
        <section>
            <div class="content">
                <header>
                    <a href="#" class="icon fa-line-chart"><span class="label">Icon</span></a>
                    <h3></h3>
                </header>
                <p></p>
            </div>
        </section>
        <section>
            <div class="content">
                <header>
                    <a href="#" class="icon fa-paper-plane-o"><span class="label">Icon</span></a>
                    <h3></h3>
                </header>
                <p></p>
            </div>
        </section>
        <section>
            <div class="content">
                <header>
                    <a href="#" class="icon fa-qrcode"><span class="label">Icon</span></a>
                    <h3></h3>
                </header>
                <p></p>
            </div>
        </section>
    </div>
</header>